:root {
    --darkest: #1b1c1a;
    --dark: #4a4a48;
    --darker: #2b2b2a;
    --light: #f2f2f2;
    --yellow: #ebeb36;
    --green: #91eb36;
    --red: #f51b51;
    --glow: 0px 0px 4px rgba(145, 235, 54, 0.75);
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-size: 1rem;
    background: var(--darker);
    color: white;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4.5rem;
}


#add-task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*remove the default styling of input form and buttons*/
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#add-task-input {
    width: 50%;
    min-width: 340px;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 1rem;
    border-width: 3px;
    border-style: solid;
    border-color: var(--yellow);
    margin-bottom: 2rem;
    color: var(--dark);
}


#add-task-input::placeholder {
    color: var(--darkest);
}

#add-task-submit {
    width: 30%;
    min-width: 230px;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-image: linear-gradient(to right, var(--green), var(--yellow));
    border-radius: 10px;
    color: white;
    margin-bottom: 5.5rem;
    cursor: pointer;
    transition: 0.4s;
}

#add-task-submit:hover {
    opacity: 0.8;
}

#add-task-submit:action {
    opacity: 0.6;
}


.task-list {
    flex: 1 1 0%;
    padding: 0;
    width: 100%;
    max-width: 80vh;
    height: auto;
    margin: 0 auto;
}

.task-list h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

#tasks .task {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--dark);
    padding: 1rem;
    background-color: var(--light);
    margin-bottom: 1rem;
}

#tasks .task label {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.circle {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--green);
    box-shadow: var(--glow);
    cursor: pointer;
    transition: 0.2s ease-out;
}

.circle::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--green);
    box-shadow: var(--glow);
}


input:checked ~ .circle::after {
    width: 20px;
    height: 20px;
    opacity: 1;
}


#tasks .task .content {
    flex: 2;
}

#tasks .task input {
    font-size: 1rem;
    width: 100%;
}

#tasks .task .content .text {
    background-image: linear-gradient(to right, var(--light), white);
    padding: 1rem;
    border-radius: 1rem;
    border-width: 3px;
    border-style: solid;
    border-color: var(--yellow);
    color: var(--darkest);
    font-size: 2rem;
    font-weight: bolder;
    display: block;
    width: 40vw;
}

#tasks .task .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}

#tasks .task .actions .edit {
    color: var(--darkest);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border-color: var(--darker);
    border-style: solid;
    border-width: 1.7px;
    padding: 0.6rem;
    cursor: pointer;
    transition: 0.4s;
}

#tasks .task .actions .edit:hover {
    opacity: 0.8;
}

#tasks .task .actions .delete {
    color: var(--red);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border-color: var(--red);
    border-style: solid;
    border-width: 1.7px;
    padding: 0.6rem;
    cursor: pointer;
    transition: 0.4s;
}

#tasks .task .actions .delete:hover {
    opacity: 0.8;
}

#tasks .task .actions .delete:after {
    background-color: var(--red);
    color: var(--light);
}


@media only screen and (max-width: 549px) {
    #tasks .task {
        padding: 0.6rem;
    }
    #tasks .task .actions .edit {
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border-width: 1.2px;
        padding: 0.3rem;
    }

    #tasks .task .actions .delete {
        font-size: 0.9rem;
        border-radius: 0.3rem;
        border-width: 1.2px;
        padding: 0.3rem;
    }

}